.flows_AlexandersMBP2.json.backup
[{"id":"7dc04e8b.bca3c","type":"tab","label":"Surveys","disabled":true,"info":""},{"id":"c06da4d5.ca6df8","type":"tab","label":"Universtage","disabled":false,"info":""},{"id":"527c543c.05815c","type":"twilioConfig","z":"","name":"twilioConfig"},{"id":"26857202.0114ae","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"d22435f8.c80e28","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"survey","tz":""},{"id":"993010b6.206fa","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3b1672f0.0893be","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c948c7d9.a91d88","type":"telegram bot","z":"","botname":"bhirot","usernames":"","chatids":""},{"id":"4b2f237c.51e82c","type":"telegram bot","z":"","botname":"@bhirot_bot","usernames":"","chatids":""},{"id":"d52cfc2b.7b71c","type":"twilioConfig","z":"","name":"twilioConfig"},{"id":"167910c6.332f6f","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"d5174f23.05634","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"survey","tz":""},{"id":"e3fc668b.9fa6b8","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"universtage","tz":""},{"id":"96581877.6a12d8","type":"uibuilder","z":"7dc04e8b.bca3c","name":"","topic":"","url":"survey_editor","fwdInMessages":true,"allowScripts":false,"allowStyles":false,"debugFE":true,"copyIndex":true,"x":366,"y":41,"wires":[["4910dd9d.3d5944"],["79e37866.700838"]]},{"id":"f16055e1.7508b8","type":"inject","z":"7dc04e8b.bca3c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":108,"y":60,"wires":[["fe8a0745.1d7c98"]]},{"id":"fe8a0745.1d7c98","type":"function","z":"7dc04e8b.bca3c","name":"","func":"\nreturn {\n    payload: \"test message\",\n    topic: 'test'\n};","outputs":1,"noerr":0,"x":210,"y":20,"wires":[["96581877.6a12d8"]]},{"id":"4910dd9d.3d5944","type":"debug","z":"7dc04e8b.bca3c","name":"UIBuilder Console","active":true,"console":"false","complete":"payload","x":630.5,"y":36,"wires":[]},{"id":"79e37866.700838","type":"debug","z":"7dc04e8b.bca3c","name":"Ctrl Console","active":true,"console":"false","complete":"payload","x":638.5,"y":82,"wires":[]},{"id":"2422521c.5986ee","type":"function","z":"7dc04e8b.bca3c","name":"addSurveyConfig","func":"var surveyConfig = msg.payload.survey;\nvar surveyId = msg.payload._id;\nvar newSurveySQL;\nif (surveyConfig.content) {\n    newSurveySQL = 'insert into survey_template (idsurvey_template, content, title, response_type,category) values(\"' +\n    surveyId + '\",\"'\n    surveyConfig.content + '\",\"' +\n    surveyConfig.title + '\",' +\n    surveyConfig.response_type + ',' +\n    surveyConfig.category +\n    ');';\n} else {\n    newSurveySQL = 'insert into survey_template (idsurvey_template, title, response_type,category) values(\"' +\n    surveyId + '\",\"' +\n    surveyConfig.title + '\",' +\n    surveyConfig.response_type + ',' +\n    surveyConfig.category +\n    ');';\n}\nreturn {topic: newSurveySQL};","outputs":1,"noerr":0,"x":503.5,"y":1493,"wires":[["9e9361e.a3ce5a"]]},{"id":"750d25ef.be996c","type":"debug","z":"7dc04e8b.bca3c","name":"DAO console","active":true,"console":"false","complete":"true","x":810.5,"y":1487,"wires":[]},{"id":"b7978979.eeb0d8","type":"function","z":"7dc04e8b.bca3c","name":"getSurveyConfig","func":"var surveyTemplateId = (msg.payload && msg.payload.survey_config_id)?msg.payload.survey_config_id:null;\nvar getSurveyConfigSQL = 'select * from survey_template;';\nif(surveyTemplateId) {\n    getSurveyConfigSQL = 'select * from survey_template where idsurvey_template=\"' + surveyTemplateId + '\";';\n}\nreturn {topic: getSurveyConfigSQL, payload: msg.payload};","outputs":1,"noerr":0,"x":377,"y":1711,"wires":[["ffb6fd9b.0aa08"]]},{"id":"6cb91cd8.e931d4","type":"function","z":"7dc04e8b.bca3c","name":"startServey","func":"var phones = ['+972544917411'];\nflow.set('phones', phones);\nreturn {payload: {survey_config_id: '5ab7af0ea6f2382cf44a36c6', phones: phones}};","outputs":1,"noerr":0,"x":186,"y":1758,"wires":[["b7978979.eeb0d8"]]},{"id":"7d13c8af.5a7c68","type":"function","z":"7dc04e8b.bca3c","name":"getRunningSurveys","func":"\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":1800,"wires":[["b2aeca84.866338"]]},{"id":"57c7f16e.b6715","type":"comment","z":"7dc04e8b.bca3c","name":"Data Access","info":"","x":464.5,"y":1437,"wires":[]},{"id":"de1dda0f.c69da8","type":"comment","z":"7dc04e8b.bca3c","name":"UI","info":"","x":80.5,"y":20,"wires":[]},{"id":"cc6510ef.e3e4c","type":"inject","z":"7dc04e8b.bca3c","name":"run","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":110,"y":1480,"wires":[["e8a4240a.c93da8"]]},{"id":"e8a4240a.c93da8","type":"function","z":"7dc04e8b.bca3c","name":"testAddSurveyConfig","func":"\nreturn {\n    payload: {\n        survey: {\n            title: 'Test Survey Title',\n            response_type: 1,\n            category: 0\n        }\n    }\n};","outputs":1,"noerr":0,"x":202.5,"y":1558,"wires":[["65c6f6dd.ae28f8"]]},{"id":"62559f92.0e025","type":"function","z":"7dc04e8b.bca3c","name":"addSurveyCategory","func":"var categoryName = msg.payload.categoryName;\nreturn {topic: 'insert into survey_category (category_name) values(\"' + categoryName + '\");'};","outputs":1,"noerr":0,"x":442.5,"y":1591,"wires":[["9e9361e.a3ce5a"]]},{"id":"80619e79.ac413","type":"inject","z":"7dc04e8b.bca3c","name":"run","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":104.5,"y":1597,"wires":[["4838c5b7.459fac"]]},{"id":"4838c5b7.459fac","type":"function","z":"7dc04e8b.bca3c","name":"testAddCategory","func":"\nreturn {\n    payload: {\n        categoryName: \"Test Category\"\n    }\n};","outputs":1,"noerr":0,"x":223.5,"y":1641,"wires":[["62559f92.0e025"]]},{"id":"d827d02b.577ee","type":"sms","z":"7dc04e8b.bca3c","name":"sms","message":"","numbers":"","throttle":1000,"twilio":"527c543c.05815c","x":776,"y":1687,"wires":[["357e950b.c7055a"]]},{"id":"47330d6f.859bf4","type":"function","z":"7dc04e8b.bca3c","name":"configureSMS","func":"\nreturn {\n    topic: flow.get('phones').join(','),\n    payload: msg.payload[0].title\n};","outputs":1,"noerr":0,"x":585,"y":1806,"wires":[["d827d02b.577ee"]]},{"id":"357e950b.c7055a","type":"debug","z":"7dc04e8b.bca3c","name":"","active":true,"console":"false","complete":"true","x":762,"y":1843,"wires":[]},{"id":"7c2c637.829349c","type":"inject","z":"7dc04e8b.bca3c","name":"run","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":170,"y":1680,"wires":[["6cb91cd8.e931d4"]]},{"id":"dafdc35f.edff4","type":"inject","z":"7dc04e8b.bca3c","name":"run","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":110,"y":1840,"wires":[["84a3d51d.ba7e98"]]},{"id":"84a3d51d.ba7e98","type":"function","z":"7dc04e8b.bca3c","name":"findCitizens","func":"\nreturn {\n    payload: {\n        params: [\n            {\n                \n            }\n        ]\n    }\n};","outputs":1,"noerr":0,"x":278,"y":1851,"wires":[["5a3f58a2.815c88"]]},{"id":"5a3f58a2.815c88","type":"function","z":"7dc04e8b.bca3c","name":"buildSQL","func":"\nreturn {\n    topic: ''\n};","outputs":1,"noerr":0,"x":436,"y":1900,"wires":[["a666bb52.56d448"]]},{"id":"c2094dc8.fb554","type":"debug","z":"7dc04e8b.bca3c","name":"","active":true,"console":"false","complete":"false","x":723,"y":1982,"wires":[]},{"id":"5c251f24.024ff","type":"comment","z":"7dc04e8b.bca3c","name":"Rest API","info":"","x":80,"y":100,"wires":[]},{"id":"d73cd5.5a779328","type":"http in","z":"7dc04e8b.bca3c","name":"","url":"/auth/login","method":"post","upload":false,"swaggerDoc":"","x":100,"y":140,"wires":[["8f857626.a84d88"]]},{"id":"8f857626.a84d88","type":"debug","z":"7dc04e8b.bca3c","name":"","active":true,"console":"false","complete":"true","x":290,"y":140,"wires":[]},{"id":"ea9020ce.37bb","type":"http in","z":"7dc04e8b.bca3c","name":"","url":"/api/all_survey_templates","method":"get","upload":false,"swaggerDoc":"","x":140,"y":200,"wires":[["5b7ff7fe.b881c8"]]},{"id":"5b7ff7fe.b881c8","type":"function","z":"7dc04e8b.bca3c","name":"getSurveyTemplates","func":"msg.topic = 'select * from survey_template;'\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":180,"wires":[["fe67abe6.6fd1c8"]]},{"id":"681c71f2.05771","type":"http response","z":"7dc04e8b.bca3c","name":"","statusCode":"","headers":{},"x":770,"y":140,"wires":[]},{"id":"ba049569.6c27e8","type":"http in","z":"7dc04e8b.bca3c","name":"","url":"/api/startSurvey","method":"post","upload":false,"swaggerDoc":"","x":220,"y":320,"wires":[["ff049eb8.98b43","473cf85.e54f508"]]},{"id":"ff049eb8.98b43","type":"function","z":"7dc04e8b.bca3c","name":"parseSurveyRequest","func":"var request = msg.payload;\nflow.set('CURRENT_PHONES', request.phones);\nmsg.topic = 'select * from survey_template where idsurvey_template=\"' + \n    request.survey_template_id + '\";';\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":320,"wires":[["2b86ab9c.261594"]]},{"id":"ee750eb7.661d6","type":"function","z":"7dc04e8b.bca3c","name":"prepareNewSurvey","func":"var survey_template = msg.payload[0];\nmsg.topic = 'insert into survey_registry (idsurvey, survey_create_time) values(' +\n'\"' + survey_template.idsurvey_template + '\",' + \n'now());';\nmsg.topic += 'select * from survey_registry where idsurvey_registry = LAST_INSERT_ID();';\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":460,"wires":[["a3ef51a5.90485"]]},{"id":"f1b2c616.3c6e08","type":"mqtt out","z":"7dc04e8b.bca3c","name":"","topic":"new_survey","qos":"","retain":"","broker":"26857202.0114ae","x":630,"y":420,"wires":[]},{"id":"244460b.47137a","type":"function","z":"7dc04e8b.bca3c","name":"parseSurvey","func":"var phones = flow.get('CURRENT_PHONES');\nreturn {\n    payload: {\n        survey: msg.payload[1][0],\n        phones: phones\n    }\n};","outputs":1,"noerr":0,"x":530,"y":480,"wires":[["f1b2c616.3c6e08"]]},{"id":"da313c4f.3c14d","type":"mqtt in","z":"7dc04e8b.bca3c","name":"on_new_survey","topic":"new_survey","qos":"2","broker":"26857202.0114ae","x":140,"y":560,"wires":[["b3c35f53.2452e"]]},{"id":"330853b7.ecb42c","type":"function","z":"7dc04e8b.bca3c","name":"testStartSurvey","func":"\nreturn {\n    payload: {\n        survey_template_id: '5ab7af0ea6f2382cf44a36c6',\n        phones: ['+972544917411', '+972532121150', '+972525427575']\n    }\n};","outputs":1,"noerr":0,"x":300,"y":380,"wires":[["ff049eb8.98b43"]]},{"id":"43d12e1d.02df5","type":"inject","z":"7dc04e8b.bca3c","name":"run","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":110,"y":380,"wires":[["330853b7.ecb42c"]]},{"id":"b3c35f53.2452e","type":"function","z":"7dc04e8b.bca3c","name":"connectCitizens","func":"var payload = JSON.parse(msg.payload);\nvar phones= payload.phones;\nvar survey = payload.survey;\nvar sql = 'update survey_registry set survey_started=1 where idsurvey_registry=' + survey.idsurvey_registry +';';\n\nfor (var phoneIndex = 0; phoneIndex < phones.length; phoneIndex++) {\n    var phone = phones[phoneIndex];\n    sql += 'insert into survey_citizen_roll (survey_registry, citizen) values(' +\n    survey.idsurvey_registry + ', (select idcitizen from citizen where phone = \"' + \n    phones[phoneIndex] + '\"));';\n}\nsql += 'select citizen.phone from survey_citizen_roll join citizen on survey_citizen_roll.citizen = citizen.idcitizen where survey_registry = ' + survey.idsurvey_registry + ';';\nsql += 'select survey_registry.*, survey_template.* from survey_registry join survey_template on ' +\n'survey_template.idsurvey_template = survey_registry.idsurvey where survey_registry.idsurvey_registry = ' + survey.idsurvey_registry + ';';\nreturn {\n    payload: {\n        survey: survey,\n        phones: phones\n    },\n    topic: sql\n};","outputs":1,"noerr":0,"x":340,"y":560,"wires":[["95baedd4.e645a"]]},{"id":"efa8ab02.dde068","type":"function","z":"7dc04e8b.bca3c","name":"prepareToSend","func":"var results = msg.payload;\nvar phonesCollection = results[results.length - 2];\nvar phones = [];\nfor(var i = 0; i < phonesCollection.length; i ++) {\n    phones.push(phonesCollection[i].phone);\n}\nvar survey = results[results.length - 1][0];\nreturn {\n    payload: {\n        phones: phones.join(','),\n        survey: survey\n    }\n    \n};","outputs":1,"noerr":0,"x":430,"y":660,"wires":[["5180007e.a95a2"]]},{"id":"8375efb1.1b265","type":"mqtt in","z":"7dc04e8b.bca3c","name":"","topic":"SEND_SMS","qos":"2","broker":"26857202.0114ae","x":130,"y":720,"wires":[["2560068f.3038aa"]]},{"id":"5180007e.a95a2","type":"mqtt out","z":"7dc04e8b.bca3c","name":"","topic":"SEND_SMS","qos":"","retain":"","broker":"26857202.0114ae","x":620,"y":640,"wires":[]},{"id":"2560068f.3038aa","type":"function","z":"7dc04e8b.bca3c","name":"initSending","func":"var surveyObj = JSON.parse(msg.payload);\nmsg.payload = surveyObj.survey.title;\nmsg.topic = surveyObj.phones;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":720,"wires":[["3f3ca114.9db07e"]]},{"id":"3f3ca114.9db07e","type":"sms","z":"7dc04e8b.bca3c","name":"sms","message":"","numbers":"","throttle":1000,"twilio":"527c543c.05815c","x":530,"y":720,"wires":[["1c8aaa02.67efc6"]]},{"id":"1c8aaa02.67efc6","type":"debug","z":"7dc04e8b.bca3c","name":"SMS Console","active":true,"console":false,"complete":"true","x":700,"y":720,"wires":[]},{"id":"9e9361e.a3ce5a","type":"mysql","z":"7dc04e8b.bca3c","mydb":"d22435f8.c80e28","name":"SurveyDB","x":663.5,"y":1567,"wires":[["750d25ef.be996c"]]},{"id":"ffb6fd9b.0aa08","type":"mysql","z":"7dc04e8b.bca3c","mydb":"d22435f8.c80e28","name":"SurveyDB","x":564,"y":1711,"wires":[["47330d6f.859bf4"]]},{"id":"b2aeca84.866338","type":"mysql","z":"7dc04e8b.bca3c","mydb":"d22435f8.c80e28","name":"SurveyDB","x":492,"y":1870,"wires":[[]]},{"id":"a666bb52.56d448","type":"mysql","z":"7dc04e8b.bca3c","mydb":"d22435f8.c80e28","name":"","x":597,"y":1902,"wires":[["c2094dc8.fb554"]]},{"id":"fe67abe6.6fd1c8","type":"mysql","z":"7dc04e8b.bca3c","mydb":"d22435f8.c80e28","name":"SurveyDB","x":640,"y":140,"wires":[["681c71f2.05771"]]},{"id":"2b86ab9c.261594","type":"mysql","z":"7dc04e8b.bca3c","mydb":"d22435f8.c80e28","name":"SurveyDB","x":660,"y":320,"wires":[["ee750eb7.661d6"]]},{"id":"a3ef51a5.90485","type":"mysql","z":"7dc04e8b.bca3c","mydb":"d22435f8.c80e28","name":"SurveyDB","x":380,"y":440,"wires":[["244460b.47137a"]]},{"id":"95baedd4.e645a","type":"mysql","z":"7dc04e8b.bca3c","mydb":"d22435f8.c80e28","name":"SurveyDB","x":540,"y":560,"wires":[["efa8ab02.dde068"]]},{"id":"65c6f6dd.ae28f8","type":"objectid","z":"7dc04e8b.bca3c","name":"","selectedProperty":"_id","x":330.5,"y":1498,"wires":[["2422521c.5986ee"]]},{"id":"13f8857d.4bd90b","type":"http in","z":"7dc04e8b.bca3c","name":"","url":"/api/sms","method":"post","upload":false,"swaggerDoc":"","x":100,"y":860,"wires":[["d853fcec.9a8cb","ad1ae21e.3b98d"]]},{"id":"f5fe8667.9be7c8","type":"function","z":"7dc04e8b.bca3c","name":"checkCitizen","func":"var message = JSON.parse(msg.payload);\nvar resp;\nif (isNaN(message.Body)) {\n    resp = '\"' + message.Body + '\"';\n} else {\n    resp = message.Body;\n}\nvar sql = 'select *,' + resp + ' as resp,' + message.To + ' as toPhone from citizen join survey_citizen_roll on citizen.idcitizen=survey_citizen_roll.citizen join ' +\n'survey_registry on survey_citizen_roll.survey_registry = survey_registry.idsurvey_registry join ' + \n'survey_template on survey_registry.idsurvey=survey_template.idsurvey_template '+ \n'where citizen.phone=\"' + message.From + '\" order by survey_registry.survey_create_time desc;';\nmsg.topic=sql;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":920,"wires":[["f65d545.575b7a8"]]},{"id":"f65d545.575b7a8","type":"mysql","z":"7dc04e8b.bca3c","mydb":"d22435f8.c80e28","name":"SurveyDB","x":420,"y":920,"wires":[["6380f76a.769b18"]]},{"id":"6380f76a.769b18","type":"switch","z":"7dc04e8b.bca3c","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":410,"y":980,"wires":[["a3834d68.e17fe"],["ca439084.533ce"]]},{"id":"cdf778b.bd33d88","type":"function","z":"7dc04e8b.bca3c","name":"saveResponse","func":"var obj = JSON.parse(msg.payload);\nmsg.topic = 'insert into survey_response_event (fromPhone, toPhone, survey_event_time,value,survey_registry) values (\"' +\nobj.phone + '\",\"' +\nobj.toPhone + '\",' +\n'now(),\"' +\nobj.resp + '\",' +\nobj.survey_registry + ');';\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":1120,"wires":[["486c0ab4.4a43e4"]]},{"id":"486c0ab4.4a43e4","type":"mysql","z":"7dc04e8b.bca3c","mydb":"d22435f8.c80e28","name":"SurveyDB","x":540,"y":1120,"wires":[[]]},{"id":"d853fcec.9a8cb","type":"mqtt out","z":"7dc04e8b.bca3c","name":"","topic":"SMS_RESP","qos":"","retain":"","broker":"26857202.0114ae","x":310,"y":860,"wires":[]},{"id":"74830448.482f7c","type":"mqtt in","z":"7dc04e8b.bca3c","name":"","topic":"SMS_RESP","qos":"2","broker":"26857202.0114ae","x":90,"y":920,"wires":[["f5fe8667.9be7c8"]]},{"id":"ad1ae21e.3b98d","type":"http response","z":"7dc04e8b.bca3c","name":"","statusCode":"200","headers":{},"x":300,"y":820,"wires":[]},{"id":"473cf85.e54f508","type":"http response","z":"7dc04e8b.bca3c","name":"","statusCode":"","headers":{},"x":430,"y":280,"wires":[]},{"id":"a3834d68.e17fe","type":"function","z":"7dc04e8b.bca3c","name":"retrieveSurveyLogic","func":"var surveyObj = msg.payload[0];\nif(surveyObj.content) {\n    surveyObj.content = JSON.parse(surveyObj.content);\n}\nflow.set('SURVEY_OBJ', surveyObj);\nmsg.topic = 'select * from survey_response_event where survey_registry =' + surveyObj.survey_registry + \n' and fromPhone=\"' + surveyObj.phone + '\" order by survey_event_time;';\n// msg.topic = 'select c.*,scr.survey_registry from survey_response_event c join survey_citizen_roll scr on c.idcitizen=scr.citizen where c.phone=\"' + surveyObj.phone + '\"';\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":920,"wires":[["544e6c9a.ad2814"]]},{"id":"f1c54555.ccdb88","type":"mqtt out","z":"7dc04e8b.bca3c","name":"","topic":"SMS_RESP_SAVE","qos":"","retain":"","broker":"26857202.0114ae","x":1050,"y":980,"wires":[]},{"id":"fa45b12b.f7dbd","type":"mqtt in","z":"7dc04e8b.bca3c","name":"","topic":"SMS_RESP_SAVE","qos":"2","broker":"26857202.0114ae","x":130,"y":1120,"wires":[["cdf778b.bd33d88"]]},{"id":"544e6c9a.ad2814","type":"mysql","z":"7dc04e8b.bca3c","mydb":"d22435f8.c80e28","name":"SurveyDB","x":620,"y":980,"wires":[["7464841e.36d12c"]]},{"id":"7464841e.36d12c","type":"function","z":"7dc04e8b.bca3c","name":"doSurveyLogic","func":"var prevSurveyEvents = msg.payload;\nvar surveyObj = flow.get('SURVEY_OBJ');\n\nvar questions = surveyObj.content || [];\nvar surveyStep = (Array.isArray(prevSurveyEvents))?prevSurveyEvents.length:0;\nif (surveyStep >= questions.length) {\n    return [null, null, null];\n}\nvar questionWasAnswered = questions[surveyStep];\nvar responseType = questionWasAnswered.response_type;\nvar types = flow.get('SURVEY_RESPONSE_TYPE');\nvar nextQuestion = (questions.length > surveyStep)?questions[surveyStep + 1]:null;\nswitch (responseType.type) {\n    case 1:\n        if (surveyObj.FINISH_INFORMED === 0 && (isNaN(surveyObj.resp) || surveyObj.resp > responseType.max || surveyObj.resp < responseType.min)) {\n            var errorMessage = types.find(function (t) {\n                return t.response_type_id === 1;\n            }).response_error_message.replace('#MIN_VAL#', responseType.min).replace('#MAX_VAL#', responseType.max);\n            return [\n                {\n                    payload: {\n                        survey: {\n                            title: errorMessage\n                        },\n                        phones: surveyObj.phone\n                    }\n                }, \n                null, \n                null\n                ];\n        }\n        break;\n    default:\n    break;\n}\nif (nextQuestion) {\n    return [{\n        payload: {\n            survey: {\n                title: nextQuestion.title\n            },\n            phones: surveyObj.phone\n        } \n    }, {payload: surveyObj}, null];\n} else {\n    if (surveyObj.FINISH_INFORMED === 0) {\n        var updateSurveyFinishSQL = 'update survey_citizen_roll set FINISH_INFORMED=1 where survey_registry =' +\n        surveyObj.survey_registry + ' and citizen=' + surveyObj.idcitizen + ';';\n        return [\n            {\n                payload: {\n                    survey: {\n                        title: surveyObj.finish_message\n                    },\n                    phones: surveyObj.phone\n                }\n            }, \n            null, \n            {payload: 'Survey step exceeds the survey steps count', topic: updateSurveyFinishSQL}];\n    } else {\n        return [null, null, null];\n    }\n}\n","outputs":3,"noerr":0,"x":800,"y":960,"wires":[["5e89f059.2d71"],["f1c54555.ccdb88"],["ba263d9e.43b8"]]},{"id":"5e89f059.2d71","type":"mqtt out","z":"7dc04e8b.bca3c","name":"","topic":"SEND_SMS","qos":"","retain":"","broker":"26857202.0114ae","x":1030,"y":920,"wires":[]},{"id":"ba263d9e.43b8","type":"mysql","z":"7dc04e8b.bca3c","mydb":"d22435f8.c80e28","name":"SurveyDB","x":940,"y":1060,"wires":[[]]},{"id":"2455b08f.11727","type":"inject","z":"7dc04e8b.bca3c","name":"Init","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":70,"y":260,"wires":[["b645b795.5a0108"]]},{"id":"b645b795.5a0108","type":"function","z":"7dc04e8b.bca3c","name":"getSurveyResponseType","func":"\nreturn {topic: 'select * from response_type;'};","outputs":1,"noerr":0,"x":270,"y":240,"wires":[["24201f2a.7b4f7"]]},{"id":"24201f2a.7b4f7","type":"mysql","z":"7dc04e8b.bca3c","mydb":"d22435f8.c80e28","name":"SurveyDB","x":530,"y":240,"wires":[["b0e25674.7b56d8"]]},{"id":"b0e25674.7b56d8","type":"function","z":"7dc04e8b.bca3c","name":"setSurveyResponseType","func":"flow.set('SURVEY_RESPONSE_TYPE', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":240,"wires":[[]]},{"id":"ca439084.533ce","type":"debug","z":"7dc04e8b.bca3c","name":"Console SMS Error","active":true,"console":false,"complete":"payload","x":390,"y":1040,"wires":[]},{"id":"a4475693.9a7f38","type":"comment","z":"c06da4d5.ca6df8","name":"Rest API","info":"","x":70,"y":430,"wires":[]},{"id":"264eb2d9.c3361e","type":"mqtt in","z":"c06da4d5.ca6df8","name":"","topic":"register","qos":"2","broker":"167910c6.332f6f","x":56,"y":1732,"wires":[["9324269f.af8f38"]]},{"id":"9324269f.af8f38","type":"function","z":"c06da4d5.ca6df8","name":"Parse Params","func":"let params = JSON.parse(msg.payload);\nconst {user_phone, lang} = params;\nmsg.topic = 'insert into user (mobile_phone, sms_registration_code) values (\"' +\nuser_phone + '\", FLOOR(rand()*10000));';\nflow.set('REGISTER-1-PARAMS', params);\nreturn msg;","outputs":1,"noerr":0,"x":215,"y":1733,"wires":[["9f542c0b.ca76a"]]},{"id":"9f542c0b.ca76a","type":"mysql","z":"c06da4d5.ca6df8","mydb":"e3fc668b.9fa6b8","name":"","x":430,"y":1719,"wires":[["76403281.81e04c"]]},{"id":"d57b29c8.0c6038","type":"sms","z":"c06da4d5.ca6df8","name":"sms","message":"","numbers":"","throttle":1000,"twilio":"d52cfc2b.7b71c","x":417,"y":1995,"wires":[["790c1892.833688","dbaa5906.f0f6d8"]]},{"id":"76403281.81e04c","type":"switch","z":"c06da4d5.ca6df8","name":"","property":"error","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","outputs":2,"x":419,"y":1783,"wires":[["aa0e878d.c39a88"],["cebab092.43027"]]},{"id":"aa0e878d.c39a88","type":"debug","z":"c06da4d5.ca6df8","name":"Error","active":true,"console":"false","complete":"true","x":635,"y":1721,"wires":[]},{"id":"cebab092.43027","type":"function","z":"c06da4d5.ca6df8","name":"GET SMS CONFIG","func":"let registerParams = flow.get('REGISTER-1-PARAMS');\nlet {lang, user_phone} = registerParams;\nmsg.topic = 'select ' + lang + \n' as title from dictionary where wordkey=\"register-1-sms-title\";';\nmsg.topic += 'select sms_registration_code as code, mobile_phone as phone from user where mobile_phone=\"' + user_phone + '\";';\nflow.set('REGISTER-1-PARAMS', null);\nreturn msg;","outputs":1,"noerr":0,"x":458,"y":1833,"wires":[["99b4f9dc.f3a9a8"]]},{"id":"790c1892.833688","type":"debug","z":"c06da4d5.ca6df8","name":"","active":true,"console":"false","complete":"true","x":668,"y":1982,"wires":[]},{"id":"99b4f9dc.f3a9a8","type":"mysql","z":"c06da4d5.ca6df8","mydb":"e3fc668b.9fa6b8","name":"","x":434,"y":1894,"wires":[["d7123569.fd46d8"]]},{"id":"d7123569.fd46d8","type":"function","z":"c06da4d5.ca6df8","name":"Prepare SMS","func":"let results = msg.payload;\nlet smsTitle = results[0][0].title;\nlet smsCode = results[1][0].code;\nlet phone = results[1][0].phone;\nreturn {\n    payload: smsTitle + '\\n' + smsCode,\n    topic: phone\n};","outputs":1,"noerr":0,"x":430,"y":1953,"wires":[["d57b29c8.0c6038"]]},{"id":"93d217db.b3aaf8","type":"mqtt out","z":"c06da4d5.ca6df8","name":"","topic":"UniverstageUI","qos":"","retain":"","broker":"26857202.0114ae","x":591,"y":2051,"wires":[]},{"id":"dbaa5906.f0f6d8","type":"function","z":"c06da4d5.ca6df8","name":"Inform User","func":"let message = {\n  payload: 'Test Message After Registration',\n  topic: 'Register-1'\n};\nreturn {\n    payload: message\n};","outputs":1,"noerr":0,"x":350,"y":2045,"wires":[["93d217db.b3aaf8"]]},{"id":"75e87e73.3a436","type":"comment","z":"c06da4d5.ca6df8","name":"Queue","info":"","x":81,"y":1661,"wires":[]},{"id":"4bad1784.288998","type":"http in","z":"c06da4d5.ca6df8","name":"","url":"/api/v1/app/init","method":"post","upload":false,"swaggerDoc":"","x":110,"y":478,"wires":[["aa99e4a9.071c18","46e65a29.1cda94"]]},{"id":"fc81b257.bbd2f","type":"http in","z":"c06da4d5.ca6df8","name":"","url":"/api/v1/auth/login","method":"post","upload":false,"swaggerDoc":"","x":110,"y":539,"wires":[["8980ce2c.bc468"]]},{"id":"8980ce2c.bc468","type":"function","z":"c06da4d5.ca6df8","name":"Do Login","func":"var params = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":302,"y":539,"wires":[["c63e564c.1af6e8","6f5001c7.4f3d"]]},{"id":"6f5001c7.4f3d","type":"http response","z":"c06da4d5.ca6df8","name":"","statusCode":"","headers":{},"x":442,"y":498,"wires":[]},{"id":"c63e564c.1af6e8","type":"debug","z":"c06da4d5.ca6df8","name":"","active":true,"console":"false","complete":"true","x":441,"y":549,"wires":[]},{"id":"a9dffa38.063758","type":"http in","z":"c06da4d5.ca6df8","name":"","url":"/api/v1/auth/register-1","method":"post","upload":false,"swaggerDoc":"","x":130,"y":604,"wires":[["cf8d531.29c34b"]]},{"id":"cf8d531.29c34b","type":"function","z":"c06da4d5.ca6df8","name":"Validate Register-1","func":"let params = msg.payload;\nlet {user_phone} = msg.payload;\n// const MAIL_REG_EXPR = /^(([^<>()\\[\\]\\\\.,;:\\s@\"]+(\\.[^<>()\\[\\]\\\\.,;:\\s@\"]+)*)|(\".+\"))@((\\[[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}\\])|(([a-zA-Z\\-0-9]+\\.)+[a-zA-Z]{2,}))$/;\nif (!user_phone || user_phone.length < 7) {\n    return [\n        null,\n        msg\n    ]\n} else {\n    return [\n        msg,\n        null\n    ]\n}","outputs":"2","noerr":0,"x":371,"y":604,"wires":[["b6d6a00.a02fc6","46e65a29.1cda94"],["4f7095af.50041c"]],"outputLabels":["Success","Fail"]},{"id":"46e65a29.1cda94","type":"http response","z":"c06da4d5.ca6df8","name":"SuccessStub","statusCode":"","headers":{},"x":675,"y":464,"wires":[]},{"id":"4f7095af.50041c","type":"http response","z":"c06da4d5.ca6df8","name":"error-register-1","statusCode":"","headers":{"content-type":"application/json"},"x":590,"y":651,"wires":[]},{"id":"b6d6a00.a02fc6","type":"mqtt out","z":"c06da4d5.ca6df8","name":"","topic":"register","qos":"","retain":"","broker":"167910c6.332f6f","x":694,"y":600,"wires":[]},{"id":"6404d546.cb956c","type":"http in","z":"c06da4d5.ca6df8","name":"","url":"/api/v1/auth/sms/:smsCode","method":"get","upload":false,"swaggerDoc":"","x":142,"y":674,"wires":[[]]},{"id":"79dcb984.f606b8","type":"inject","z":"c06da4d5.ca6df8","name":"Init Data","topic":"UniverstageUIInit","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":334,"y":42,"wires":[["4ef7d025.5e9d4"]]},{"id":"8c014e55.27104","type":"uibuilder","z":"c06da4d5.ca6df8","name":"Universtage","topic":"","url":"/universtage","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"debugFE":false,"copyIndex":false,"x":362,"y":184,"wires":[["9434fcb6.9e8d4"],["4c394397.52f2cc"]]},{"id":"9434fcb6.9e8d4","type":"debug","z":"c06da4d5.ca6df8","name":"","active":true,"console":"false","complete":"true","x":539,"y":174,"wires":[]},{"id":"4c394397.52f2cc","type":"debug","z":"c06da4d5.ca6df8","name":"","active":true,"console":"false","complete":"true","x":545,"y":265,"wires":[]},{"id":"3cb8330a.42964c","type":"function","z":"c06da4d5.ca6df8","name":"Parse Message","func":"let messsage = JSON.parse(msg.payload);\nreturn {\n    payload: message,\n    topic: message.topic\n};","outputs":1,"noerr":0,"x":231,"y":268,"wires":[["8c014e55.27104"]]},{"id":"fdc82f4.1f3aad","type":"mqtt in","z":"c06da4d5.ca6df8","name":"","topic":"UniverstageUI","qos":"2","broker":"26857202.0114ae","x":123,"y":197,"wires":[["3cb8330a.42964c"]]},{"id":"dc6019fa.aea928","type":"inject","z":"c06da4d5.ca6df8","name":"Test Message","topic":"register-1","payload":"{\"test\":\"Test from universtage\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":143,"y":149,"wires":[["8c014e55.27104"]]},{"id":"d3c8dbb8.0c4268","type":"comment","z":"c06da4d5.ca6df8","name":"Web/Mobile Client","info":"","x":101,"y":28,"wires":[]},{"id":"aa99e4a9.071c18","type":"mqtt out","z":"c06da4d5.ca6df8","name":"","topic":"UniverstageUIInit","qos":"","retain":"","broker":"26857202.0114ae","x":371,"y":436,"wires":[]},{"id":"9d4a523b.53c6","type":"mqtt in","z":"c06da4d5.ca6df8","name":"","topic":"UniverstageUIInit","qos":"2","broker":"26857202.0114ae","x":131,"y":73,"wires":[["4ef7d025.5e9d4"]]},{"id":"4ef7d025.5e9d4","type":"function","z":"c06da4d5.ca6df8","name":"Config Data","func":"msg.payload = {\n  \"phone_codes\": [\n      {\n        \"country_code\": \"BD\",\n        \"phone_code\": \"880\"\n      },\n      {\n        \"country_code\": \"BE\",\n        \"phone_code\": \"32\"\n      },\n      {\n        \"country_code\": \"BF\",\n        \"phone_code\": \"226\"\n      },\n      {\n        \"country_code\": \"BG\",\n        \"phone_code\": \"359\"\n      },\n      {\n        \"country_code\": \"BA\",\n        \"phone_code\": \"387\"\n      },\n      {\n        \"country_code\": \"BB\",\n        \"phone_code\": \"+1-246\"\n      },\n      {\n        \"country_code\": \"WF\",\n        \"phone_code\": \"681\"\n      },\n      {\n        \"country_code\": \"BL\",\n        \"phone_code\": \"590\"\n      },\n      {\n        \"country_code\": \"BM\",\n        \"phone_code\": \"+1-441\"\n      },\n      {\n        \"country_code\": \"BN\",\n        \"phone_code\": \"673\"\n      },\n      {\n        \"country_code\": \"BO\",\n        \"phone_code\": \"591\"\n      },\n      {\n        \"country_code\": \"BH\",\n        \"phone_code\": \"973\"\n      },\n      {\n        \"country_code\": \"BI\",\n        \"phone_code\": \"257\"\n      },\n      {\n        \"country_code\": \"BJ\",\n        \"phone_code\": \"229\"\n      },\n      {\n        \"country_code\": \"BT\",\n        \"phone_code\": \"975\"\n      },\n      {\n        \"country_code\": \"JM\",\n        \"phone_code\": \"+1-876\"\n      },\n      {\n        \"country_code\": \"BV\",\n        \"phone_code\": \"\"\n      },\n      {\n        \"country_code\": \"BW\",\n        \"phone_code\": \"267\"\n      },\n      {\n        \"country_code\": \"WS\",\n        \"phone_code\": \"685\"\n      },\n      {\n        \"country_code\": \"BQ\",\n        \"phone_code\": \"599\"\n      },\n      {\n        \"country_code\": \"BR\",\n        \"phone_code\": \"55\"\n      },\n      {\n        \"country_code\": \"BS\",\n        \"phone_code\": \"+1-242\"\n      },\n      {\n        \"country_code\": \"JE\",\n        \"phone_code\": \"+44-1534\"\n      },\n      {\n        \"country_code\": \"BY\",\n        \"phone_code\": \"375\"\n      },\n      {\n        \"country_code\": \"BZ\",\n        \"phone_code\": \"501\"\n      },\n      {\n        \"country_code\": \"RU\",\n        \"phone_code\": \"7\"\n      },\n      {\n        \"country_code\": \"RW\",\n        \"phone_code\": \"250\"\n      },\n      {\n        \"country_code\": \"RS\",\n        \"phone_code\": \"381\"\n      },\n      {\n        \"country_code\": \"TL\",\n        \"phone_code\": \"670\"\n      },\n      {\n        \"country_code\": \"RE\",\n        \"phone_code\": \"262\"\n      },\n      {\n        \"country_code\": \"TM\",\n        \"phone_code\": \"993\"\n      },\n      {\n        \"country_code\": \"TJ\",\n        \"phone_code\": \"992\"\n      },\n      {\n        \"country_code\": \"RO\",\n        \"phone_code\": \"40\"\n      },\n      {\n        \"country_code\": \"TK\",\n        \"phone_code\": \"690\"\n      },\n      {\n        \"country_code\": \"GW\",\n        \"phone_code\": \"245\"\n      },\n      {\n        \"country_code\": \"GU\",\n        \"phone_code\": \"+1-671\"\n      },\n      {\n        \"country_code\": \"GT\",\n        \"phone_code\": \"502\"\n      },\n      {\n        \"country_code\": \"GS\",\n        \"phone_code\": \"\"\n      },\n      {\n        \"country_code\": \"GR\",\n        \"phone_code\": \"30\"\n      },\n      {\n        \"country_code\": \"GQ\",\n        \"phone_code\": \"240\"\n      },\n      {\n        \"country_code\": \"GP\",\n        \"phone_code\": \"590\"\n      },\n      {\n        \"country_code\": \"JP\",\n        \"phone_code\": \"81\"\n      },\n      {\n        \"country_code\": \"GY\",\n        \"phone_code\": \"592\"\n      },\n      {\n        \"country_code\": \"GG\",\n        \"phone_code\": \"+44-1481\"\n      },\n      {\n        \"country_code\": \"GF\",\n        \"phone_code\": \"594\"\n      },\n      {\n        \"country_code\": \"GE\",\n        \"phone_code\": \"995\"\n      },\n      {\n        \"country_code\": \"GD\",\n        \"phone_code\": \"+1-473\"\n      },\n      {\n        \"country_code\": \"GB\",\n        \"phone_code\": \"44\"\n      },\n      {\n        \"country_code\": \"GA\",\n        \"phone_code\": \"241\"\n      },\n      {\n        \"country_code\": \"SV\",\n        \"phone_code\": \"503\"\n      },\n      {\n        \"country_code\": \"GN\",\n        \"phone_code\": \"224\"\n      },\n      {\n        \"country_code\": \"GM\",\n        \"phone_code\": \"220\"\n      },\n      {\n        \"country_code\": \"GL\",\n        \"phone_code\": \"299\"\n      },\n      {\n        \"country_code\": \"GI\",\n        \"phone_code\": \"350\"\n      },\n      {\n        \"country_code\": \"GH\",\n        \"phone_code\": \"233\"\n      },\n      {\n        \"country_code\": \"OM\",\n        \"phone_code\": \"968\"\n      },\n      {\n        \"country_code\": \"TN\",\n        \"phone_code\": \"216\"\n      },\n      {\n        \"country_code\": \"JO\",\n        \"phone_code\": \"962\"\n      },\n      {\n        \"country_code\": \"HR\",\n        \"phone_code\": \"385\"\n      },\n      {\n        \"country_code\": \"HT\",\n        \"phone_code\": \"509\"\n      },\n      {\n        \"country_code\": \"HU\",\n        \"phone_code\": \"36\"\n      },\n      {\n        \"country_code\": \"HK\",\n        \"phone_code\": \"852\"\n      },\n      {\n        \"country_code\": \"HN\",\n        \"phone_code\": \"504\"\n      },\n      {\n        \"country_code\": \"HM\",\n        \"phone_code\": \" \"\n      },\n      {\n        \"country_code\": \"VE\",\n        \"phone_code\": \"58\"\n      },\n      {\n        \"country_code\": \"PR\",\n        \"phone_code\": \"+1-787 and 1-939\"\n      },\n      {\n        \"country_code\": \"PS\",\n        \"phone_code\": \"970\"\n      },\n      {\n        \"country_code\": \"PW\",\n        \"phone_code\": \"680\"\n      },\n      {\n        \"country_code\": \"PT\",\n        \"phone_code\": \"351\"\n      },\n      {\n        \"country_code\": \"SJ\",\n        \"phone_code\": \"47\"\n      },\n      {\n        \"country_code\": \"PY\",\n        \"phone_code\": \"595\"\n      },\n      {\n        \"country_code\": \"IQ\",\n        \"phone_code\": \"964\"\n      },\n      {\n        \"country_code\": \"PA\",\n        \"phone_code\": \"507\"\n      },\n      {\n        \"country_code\": \"PF\",\n        \"phone_code\": \"689\"\n      },\n      {\n        \"country_code\": \"PG\",\n        \"phone_code\": \"675\"\n      },\n      {\n        \"country_code\": \"PE\",\n        \"phone_code\": \"51\"\n      },\n      {\n        \"country_code\": \"PK\",\n        \"phone_code\": \"92\"\n      },\n      {\n        \"country_code\": \"PH\",\n        \"phone_code\": \"63\"\n      },\n      {\n        \"country_code\": \"PN\",\n        \"phone_code\": \"870\"\n      },\n      {\n        \"country_code\": \"PL\",\n        \"phone_code\": \"48\"\n      },\n      {\n        \"country_code\": \"PM\",\n        \"phone_code\": \"508\"\n      },\n      {\n        \"country_code\": \"ZM\",\n        \"phone_code\": \"260\"\n      },\n      {\n        \"country_code\": \"EH\",\n        \"phone_code\": \"212\"\n      },\n      {\n        \"country_code\": \"EE\",\n        \"phone_code\": \"372\"\n      },\n      {\n        \"country_code\": \"EG\",\n        \"phone_code\": \"20\"\n      },\n      {\n        \"country_code\": \"ZA\",\n        \"phone_code\": \"27\"\n      },\n      {\n        \"country_code\": \"EC\",\n        \"phone_code\": \"593\"\n      },\n      {\n        \"country_code\": \"IT\",\n        \"phone_code\": \"39\"\n      },\n      {\n        \"country_code\": \"VN\",\n        \"phone_code\": \"84\"\n      },\n      {\n        \"country_code\": \"SB\",\n        \"phone_code\": \"677\"\n      },\n      {\n        \"country_code\": \"ET\",\n        \"phone_code\": \"251\"\n      },\n      {\n        \"country_code\": \"SO\",\n        \"phone_code\": \"252\"\n      },\n      {\n        \"country_code\": \"ZW\",\n        \"phone_code\": \"263\"\n      },\n      {\n        \"country_code\": \"SA\",\n        \"phone_code\": \"966\"\n      },\n      {\n        \"country_code\": \"ES\",\n        \"phone_code\": \"34\"\n      },\n      {\n        \"country_code\": \"ER\",\n        \"phone_code\": \"291\"\n      },\n      {\n        \"country_code\": \"ME\",\n        \"phone_code\": \"382\"\n      },\n      {\n        \"country_code\": \"MD\",\n        \"phone_code\": \"373\"\n      },\n      {\n        \"country_code\": \"MG\",\n        \"phone_code\": \"261\"\n      },\n      {\n        \"country_code\": \"MF\",\n        \"phone_code\": \"590\"\n      },\n      {\n        \"country_code\": \"MA\",\n        \"phone_code\": \"212\"\n      },\n      {\n        \"country_code\": \"MC\",\n        \"phone_code\": \"377\"\n      },\n      {\n        \"country_code\": \"UZ\",\n        \"phone_code\": \"998\"\n      },\n      {\n        \"country_code\": \"MM\",\n        \"phone_code\": \"95\"\n      },\n      {\n        \"country_code\": \"ML\",\n        \"phone_code\": \"223\"\n      },\n      {\n        \"country_code\": \"MO\",\n        \"phone_code\": \"853\"\n      },\n      {\n        \"country_code\": \"MN\",\n        \"phone_code\": \"976\"\n      },\n      {\n        \"country_code\": \"MH\",\n        \"phone_code\": \"692\"\n      },\n      {\n        \"country_code\": \"MK\",\n        \"phone_code\": \"389\"\n      },\n      {\n        \"country_code\": \"MU\",\n        \"phone_code\": \"230\"\n      },\n      {\n        \"country_code\": \"MT\",\n        \"phone_code\": \"356\"\n      },\n      {\n        \"country_code\": \"MW\",\n        \"phone_code\": \"265\"\n      },\n      {\n        \"country_code\": \"MV\",\n        \"phone_code\": \"960\"\n      },\n      {\n        \"country_code\": \"MQ\",\n        \"phone_code\": \"596\"\n      },\n      {\n        \"country_code\": \"MP\",\n        \"phone_code\": \"+1-670\"\n      },\n      {\n        \"country_code\": \"MS\",\n        \"phone_code\": \"+1-664\"\n      },\n      {\n        \"country_code\": \"MR\",\n        \"phone_code\": \"222\"\n      },\n      {\n        \"country_code\": \"IM\",\n        \"phone_code\": \"+44-1624\"\n      },\n      {\n        \"country_code\": \"UG\",\n        \"phone_code\": \"256\"\n      },\n      {\n        \"country_code\": \"TZ\",\n        \"phone_code\": \"255\"\n      },\n      {\n        \"country_code\": \"MY\",\n        \"phone_code\": \"60\"\n      },\n      {\n        \"country_code\": \"MX\",\n        \"phone_code\": \"52\"\n      },\n      {\n        \"country_code\": \"IL\",\n        \"phone_code\": \"972\"\n      },\n      {\n        \"country_code\": \"FR\",\n        \"phone_code\": \"33\"\n      },\n      {\n        \"country_code\": \"IO\",\n        \"phone_code\": \"246\"\n      },\n      {\n        \"country_code\": \"SH\",\n        \"phone_code\": \"290\"\n      },\n      {\n        \"country_code\": \"FI\",\n        \"phone_code\": \"358\"\n      },\n      {\n        \"country_code\": \"FJ\",\n        \"phone_code\": \"679\"\n      },\n      {\n        \"country_code\": \"FK\",\n        \"phone_code\": \"500\"\n      },\n      {\n        \"country_code\": \"FM\",\n        \"phone_code\": \"691\"\n      },\n      {\n        \"country_code\": \"FO\",\n        \"phone_code\": \"298\"\n      },\n      {\n        \"country_code\": \"NI\",\n        \"phone_code\": \"505\"\n      },\n      {\n        \"country_code\": \"NL\",\n        \"phone_code\": \"31\"\n      },\n      {\n        \"country_code\": \"NO\",\n        \"phone_code\": \"47\"\n      },\n      {\n        \"country_code\": \"NA\",\n        \"phone_code\": \"264\"\n      },\n      {\n        \"country_code\": \"VU\",\n        \"phone_code\": \"678\"\n      },\n      {\n        \"country_code\": \"NC\",\n        \"phone_code\": \"687\"\n      },\n      {\n        \"country_code\": \"NE\",\n        \"phone_code\": \"227\"\n      },\n      {\n        \"country_code\": \"NF\",\n        \"phone_code\": \"672\"\n      },\n      {\n        \"country_code\": \"NG\",\n        \"phone_code\": \"234\"\n      },\n      {\n        \"country_code\": \"NZ\",\n        \"phone_code\": \"64\"\n      },\n      {\n        \"country_code\": \"NP\",\n        \"phone_code\": \"977\"\n      },\n      {\n        \"country_code\": \"NR\",\n        \"phone_code\": \"674\"\n      },\n      {\n        \"country_code\": \"NU\",\n        \"phone_code\": \"683\"\n      },\n      {\n        \"country_code\": \"CK\",\n        \"phone_code\": \"682\"\n      },\n      {\n        \"country_code\": \"XK\",\n        \"phone_code\": \"\"\n      },\n      {\n        \"country_code\": \"CI\",\n        \"phone_code\": \"225\"\n      },\n      {\n        \"country_code\": \"CH\",\n        \"phone_code\": \"41\"\n      },\n      {\n        \"country_code\": \"CO\",\n        \"phone_code\": \"57\"\n      },\n      {\n        \"country_code\": \"CN\",\n        \"phone_code\": \"86\"\n      },\n      {\n        \"country_code\": \"CM\",\n        \"phone_code\": \"237\"\n      },\n      {\n        \"country_code\": \"CL\",\n        \"phone_code\": \"56\"\n      },\n      {\n        \"country_code\": \"CC\",\n        \"phone_code\": \"61\"\n      },\n      {\n        \"country_code\": \"CA\",\n        \"phone_code\": \"1\"\n      },\n      {\n        \"country_code\": \"CG\",\n        \"phone_code\": \"242\"\n      },\n      {\n        \"country_code\": \"CF\",\n        \"phone_code\": \"236\"\n      },\n      {\n        \"country_code\": \"CD\",\n        \"phone_code\": \"243\"\n      },\n      {\n        \"country_code\": \"CZ\",\n        \"phone_code\": \"420\"\n      },\n      {\n        \"country_code\": \"CY\",\n        \"phone_code\": \"357\"\n      },\n      {\n        \"country_code\": \"CX\",\n        \"phone_code\": \"61\"\n      },\n      {\n        \"country_code\": \"CR\",\n        \"phone_code\": \"506\"\n      },\n      {\n        \"country_code\": \"CW\",\n        \"phone_code\": \"599\"\n      },\n      {\n        \"country_code\": \"CV\",\n        \"phone_code\": \"238\"\n      },\n      {\n        \"country_code\": \"CU\",\n        \"phone_code\": \"53\"\n      },\n      {\n        \"country_code\": \"SZ\",\n        \"phone_code\": \"268\"\n      },\n      {\n        \"country_code\": \"SY\",\n        \"phone_code\": \"963\"\n      },\n      {\n        \"country_code\": \"SX\",\n        \"phone_code\": \"599\"\n      },\n      {\n        \"country_code\": \"KG\",\n        \"phone_code\": \"996\"\n      },\n      {\n        \"country_code\": \"KE\",\n        \"phone_code\": \"254\"\n      },\n      {\n        \"country_code\": \"SS\",\n        \"phone_code\": \"211\"\n      },\n      {\n        \"country_code\": \"SR\",\n        \"phone_code\": \"597\"\n      },\n      {\n        \"country_code\": \"KI\",\n        \"phone_code\": \"686\"\n      },\n      {\n        \"country_code\": \"KH\",\n        \"phone_code\": \"855\"\n      },\n      {\n        \"country_code\": \"KN\",\n        \"phone_code\": \"+1-869\"\n      },\n      {\n        \"country_code\": \"KM\",\n        \"phone_code\": \"269\"\n      },\n      {\n        \"country_code\": \"ST\",\n        \"phone_code\": \"239\"\n      },\n      {\n        \"country_code\": \"SK\",\n        \"phone_code\": \"421\"\n      },\n      {\n        \"country_code\": \"KR\",\n        \"phone_code\": \"82\"\n      },\n      {\n        \"country_code\": \"SI\",\n        \"phone_code\": \"386\"\n      },\n      {\n        \"country_code\": \"KP\",\n        \"phone_code\": \"850\"\n      },\n      {\n        \"country_code\": \"KW\",\n        \"phone_code\": \"965\"\n      },\n      {\n        \"country_code\": \"SN\",\n        \"phone_code\": \"221\"\n      },\n      {\n        \"country_code\": \"SM\",\n        \"phone_code\": \"378\"\n      },\n      {\n        \"country_code\": \"SL\",\n        \"phone_code\": \"232\"\n      },\n      {\n        \"country_code\": \"SC\",\n        \"phone_code\": \"248\"\n      },\n      {\n        \"country_code\": \"KZ\",\n        \"phone_code\": \"7\"\n      },\n      {\n        \"country_code\": \"KY\",\n        \"phone_code\": \"+1-345\"\n      },\n      {\n        \"country_code\": \"SG\",\n        \"phone_code\": \"65\"\n      },\n      {\n        \"country_code\": \"SE\",\n        \"phone_code\": \"46\"\n      },\n      {\n        \"country_code\": \"SD\",\n        \"phone_code\": \"249\"\n      },\n      {\n        \"country_code\": \"DO\",\n        \"phone_code\": \"+1-809 and 1-829\"\n      },\n      {\n        \"country_code\": \"DM\",\n        \"phone_code\": \"+1-767\"\n      },\n      {\n        \"country_code\": \"DJ\",\n        \"phone_code\": \"253\"\n      },\n      {\n        \"country_code\": \"DK\",\n        \"phone_code\": \"45\"\n      },\n      {\n        \"country_code\": \"VG\",\n        \"phone_code\": \"+1-284\"\n      },\n      {\n        \"country_code\": \"DE\",\n        \"phone_code\": \"49\"\n      },\n      {\n        \"country_code\": \"YE\",\n        \"phone_code\": \"967\"\n      },\n      {\n        \"country_code\": \"DZ\",\n        \"phone_code\": \"213\"\n      },\n      {\n        \"country_code\": \"US\",\n        \"phone_code\": \"1\"\n      },\n      {\n        \"country_code\": \"UY\",\n        \"phone_code\": \"598\"\n      },\n      {\n        \"country_code\": \"YT\",\n        \"phone_code\": \"262\"\n      },\n      {\n        \"country_code\": \"UM\",\n        \"phone_code\": \"1\"\n      },\n      {\n        \"country_code\": \"LB\",\n        \"phone_code\": \"961\"\n      },\n      {\n        \"country_code\": \"LC\",\n        \"phone_code\": \"+1-758\"\n      },\n      {\n        \"country_code\": \"LA\",\n        \"phone_code\": \"856\"\n      },\n      {\n        \"country_code\": \"TV\",\n        \"phone_code\": \"688\"\n      },\n      {\n        \"country_code\": \"TW\",\n        \"phone_code\": \"886\"\n      },\n      {\n        \"country_code\": \"TT\",\n        \"phone_code\": \"+1-868\"\n      },\n      {\n        \"country_code\": \"TR\",\n        \"phone_code\": \"90\"\n      },\n      {\n        \"country_code\": \"LK\",\n        \"phone_code\": \"94\"\n      },\n      {\n        \"country_code\": \"LI\",\n        \"phone_code\": \"423\"\n      },\n      {\n        \"country_code\": \"LV\",\n        \"phone_code\": \"371\"\n      },\n      {\n        \"country_code\": \"TO\",\n        \"phone_code\": \"676\"\n      },\n      {\n        \"country_code\": \"LT\",\n        \"phone_code\": \"370\"\n      },\n      {\n        \"country_code\": \"LU\",\n        \"phone_code\": \"352\"\n      },\n      {\n        \"country_code\": \"LR\",\n        \"phone_code\": \"231\"\n      },\n      {\n        \"country_code\": \"LS\",\n        \"phone_code\": \"266\"\n      },\n      {\n        \"country_code\": \"TH\",\n        \"phone_code\": \"66\"\n      },\n      {\n        \"country_code\": \"TF\",\n        \"phone_code\": \"\"\n      },\n      {\n        \"country_code\": \"TG\",\n        \"phone_code\": \"228\"\n      },\n      {\n        \"country_code\": \"TD\",\n        \"phone_code\": \"235\"\n      },\n      {\n        \"country_code\": \"TC\",\n        \"phone_code\": \"+1-649\"\n      },\n      {\n        \"country_code\": \"LY\",\n        \"phone_code\": \"218\"\n      },\n      {\n        \"country_code\": \"VA\",\n        \"phone_code\": \"379\"\n      },\n      {\n        \"country_code\": \"VC\",\n        \"phone_code\": \"+1-784\"\n      },\n      {\n        \"country_code\": \"AE\",\n        \"phone_code\": \"971\"\n      },\n      {\n        \"country_code\": \"AD\",\n        \"phone_code\": \"376\"\n      },\n      {\n        \"country_code\": \"AG\",\n        \"phone_code\": \"+1-268\"\n      },\n      {\n        \"country_code\": \"AF\",\n        \"phone_code\": \"93\"\n      },\n      {\n        \"country_code\": \"AI\",\n        \"phone_code\": \"+1-264\"\n      },\n      {\n        \"country_code\": \"VI\",\n        \"phone_code\": \"+1-340\"\n      },\n      {\n        \"country_code\": \"IS\",\n        \"phone_code\": \"354\"\n      },\n      {\n        \"country_code\": \"IR\",\n        \"phone_code\": \"98\"\n      },\n      {\n        \"country_code\": \"AM\",\n        \"phone_code\": \"374\"\n      },\n      {\n        \"country_code\": \"AL\",\n        \"phone_code\": \"355\"\n      },\n      {\n        \"country_code\": \"AO\",\n        \"phone_code\": \"244\"\n      },\n      {\n        \"country_code\": \"AQ\",\n        \"phone_code\": \"\"\n      },\n      {\n        \"country_code\": \"AS\",\n        \"phone_code\": \"+1-684\"\n      },\n      {\n        \"country_code\": \"AR\",\n        \"phone_code\": \"54\"\n      },\n      {\n        \"country_code\": \"AU\",\n        \"phone_code\": \"61\"\n      },\n      {\n        \"country_code\": \"AT\",\n        \"phone_code\": \"43\"\n      },\n      {\n        \"country_code\": \"AW\",\n        \"phone_code\": \"297\"\n      },\n      {\n        \"country_code\": \"IN\",\n        \"phone_code\": \"91\"\n      },\n      {\n        \"country_code\": \"AX\",\n        \"phone_code\": \"+358-18\"\n      },\n      {\n        \"country_code\": \"AZ\",\n        \"phone_code\": \"994\"\n      },\n      {\n        \"country_code\": \"IE\",\n        \"phone_code\": \"353\"\n      },\n      {\n        \"country_code\": \"ID\",\n        \"phone_code\": \"62\"\n      },\n      {\n        \"country_code\": \"UA\",\n        \"phone_code\": \"380\"\n      },\n      {\n        \"country_code\": \"QA\",\n        \"phone_code\": \"974\"\n      },\n      {\n        \"country_code\": \"MZ\",\n        \"phone_code\": \"258\"\n      }\n  ]\n};\nreturn msg;","outputs":1,"noerr":0,"x":351,"y":96,"wires":[["8c014e55.27104"]]}]