.flows_Alexanders-MacBook-Pro-2.local.json.backup
[{"id":"1e3765db.c4fbaa","type":"tab","label":"Surveys","disabled":true,"info":""},{"id":"cc24ceb9.c41a","type":"tab","label":"Universtage","disabled":false,"info":""},{"id":"d523cdee.a301a","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"57ad02e6.375f6c","type":"telegram bot","z":"","botname":"bhirot","usernames":"","chatids":""},{"id":"af34ff1f.e0c74","type":"telegram bot","z":"","botname":"@bhirot_bot","usernames":"","chatids":""},{"id":"4db41652.618b48","type":"twilioConfig","z":"","name":"twilioConfig"},{"id":"5d2028ab.93ca18","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"6489251f.38312c","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"survey","tz":""},{"id":"a786c7c0.cf9bc8","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"universtage","tz":""},{"id":"3f07dbfb.ce3ba4","type":"function","z":"1e3765db.c4fbaa","name":"addSurveyConfig","func":"var surveyConfig = msg.payload.survey;\nvar surveyId = msg.payload._id;\nvar newSurveySQL;\nif (surveyConfig.content) {\n    newSurveySQL = 'insert into survey_template (idsurvey_template, content, title, response_type,category) values(\"' +\n    surveyId + '\",\"'\n    surveyConfig.content + '\",\"' +\n    surveyConfig.title + '\",' +\n    surveyConfig.response_type + ',' +\n    surveyConfig.category +\n    ');';\n} else {\n    newSurveySQL = 'insert into survey_template (idsurvey_template, title, response_type,category) values(\"' +\n    surveyId + '\",\"' +\n    surveyConfig.title + '\",' +\n    surveyConfig.response_type + ',' +\n    surveyConfig.category +\n    ');';\n}\nreturn {topic: newSurveySQL};","outputs":1,"noerr":0,"x":503.5,"y":1493,"wires":[["bd94aceb.355b4"]]},{"id":"27c5cfa0.b04cf","type":"debug","z":"1e3765db.c4fbaa","name":"DAO console","active":true,"console":"false","complete":"true","x":810.5,"y":1487,"wires":[]},{"id":"80e0c731.a74298","type":"function","z":"1e3765db.c4fbaa","name":"getSurveyConfig","func":"var surveyTemplateId = (msg.payload && msg.payload.survey_config_id)?msg.payload.survey_config_id:null;\nvar getSurveyConfigSQL = 'select * from survey_template;';\nif(surveyTemplateId) {\n    getSurveyConfigSQL = 'select * from survey_template where idsurvey_template=\"' + surveyTemplateId + '\";';\n}\nreturn {topic: getSurveyConfigSQL, payload: msg.payload};","outputs":1,"noerr":0,"x":377,"y":1711,"wires":[["66c8228d.29001c"]]},{"id":"964cdf87.5b8ad","type":"function","z":"1e3765db.c4fbaa","name":"startServey","func":"var phones = ['+972544917411'];\nflow.set('phones', phones);\nreturn {payload: {survey_config_id: '5ab7af0ea6f2382cf44a36c6', phones: phones}};","outputs":1,"noerr":0,"x":186,"y":1758,"wires":[["80e0c731.a74298"]]},{"id":"474cd567.74383c","type":"function","z":"1e3765db.c4fbaa","name":"getRunningSurveys","func":"\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":1800,"wires":[["215b2d13.7ab7d2"]]},{"id":"e51ef0a3.29d7e","type":"comment","z":"1e3765db.c4fbaa","name":"Data Access","info":"","x":464.5,"y":1437,"wires":[]},{"id":"1c9772fd.3a79ed","type":"comment","z":"1e3765db.c4fbaa","name":"UI","info":"","x":80.5,"y":20,"wires":[]},{"id":"d2b02af0.f88ac8","type":"inject","z":"1e3765db.c4fbaa","name":"run","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":110,"y":1480,"wires":[["3522ad0b.6e1752"]]},{"id":"3522ad0b.6e1752","type":"function","z":"1e3765db.c4fbaa","name":"testAddSurveyConfig","func":"\nreturn {\n    payload: {\n        survey: {\n            title: 'Test Survey Title',\n            response_type: 1,\n            category: 0\n        }\n    }\n};","outputs":1,"noerr":0,"x":202.5,"y":1558,"wires":[["54587ead.4e8dd"]]},{"id":"e248a10a.f51b8","type":"function","z":"1e3765db.c4fbaa","name":"addSurveyCategory","func":"var categoryName = msg.payload.categoryName;\nreturn {topic: 'insert into survey_category (category_name) values(\"' + categoryName + '\");'};","outputs":1,"noerr":0,"x":442.5,"y":1591,"wires":[["bd94aceb.355b4"]]},{"id":"8dc57fca.7c961","type":"inject","z":"1e3765db.c4fbaa","name":"run","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":104.5,"y":1597,"wires":[["92e14eb6.67511"]]},{"id":"92e14eb6.67511","type":"function","z":"1e3765db.c4fbaa","name":"testAddCategory","func":"\nreturn {\n    payload: {\n        categoryName: \"Test Category\"\n    }\n};","outputs":1,"noerr":0,"x":223.5,"y":1641,"wires":[["e248a10a.f51b8"]]},{"id":"4faea138.495c7","type":"sms","z":"1e3765db.c4fbaa","name":"sms","message":"","numbers":"","throttle":1000,"twilio":"4db41652.618b48","x":776,"y":1687,"wires":[["1b14c477.38241c"]]},{"id":"e0058518.7db808","type":"function","z":"1e3765db.c4fbaa","name":"configureSMS","func":"\nreturn {\n    topic: flow.get('phones').join(','),\n    payload: msg.payload[0].title\n};","outputs":1,"noerr":0,"x":585,"y":1806,"wires":[["4faea138.495c7"]]},{"id":"1b14c477.38241c","type":"debug","z":"1e3765db.c4fbaa","name":"","active":true,"console":"false","complete":"true","x":762,"y":1843,"wires":[]},{"id":"94d3aecc.b167f","type":"inject","z":"1e3765db.c4fbaa","name":"run","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":170,"y":1680,"wires":[["964cdf87.5b8ad"]]},{"id":"5e49fdcc.0af704","type":"inject","z":"1e3765db.c4fbaa","name":"run","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":110,"y":1840,"wires":[["48b2910c.29401"]]},{"id":"48b2910c.29401","type":"function","z":"1e3765db.c4fbaa","name":"findCitizens","func":"\nreturn {\n    payload: {\n        params: [\n            {\n                \n            }\n        ]\n    }\n};","outputs":1,"noerr":0,"x":278,"y":1851,"wires":[["343ff064.4d2b7"]]},{"id":"343ff064.4d2b7","type":"function","z":"1e3765db.c4fbaa","name":"buildSQL","func":"\nreturn {\n    topic: ''\n};","outputs":1,"noerr":0,"x":436,"y":1900,"wires":[["21702bc1.ad3d14"]]},{"id":"92a6a249.b4af6","type":"debug","z":"1e3765db.c4fbaa","name":"","active":true,"console":"false","complete":"false","x":723,"y":1982,"wires":[]},{"id":"f6e66f2d.9ce7e","type":"comment","z":"1e3765db.c4fbaa","name":"Rest API","info":"","x":80,"y":100,"wires":[]},{"id":"f14ee37f.6fe9d","type":"http in","z":"1e3765db.c4fbaa","name":"","url":"/api/all_survey_templates","method":"get","upload":false,"swaggerDoc":"","x":140,"y":200,"wires":[["142b6095.b96c8f"]]},{"id":"142b6095.b96c8f","type":"function","z":"1e3765db.c4fbaa","name":"getSurveyTemplates","func":"msg.topic = 'select * from survey_template;'\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":180,"wires":[["ffba9dfb.0ad99"]]},{"id":"3bf5e51a.529caa","type":"http response","z":"1e3765db.c4fbaa","name":"","statusCode":"","headers":{},"x":770,"y":140,"wires":[]},{"id":"2d64e203.4b35ae","type":"http in","z":"1e3765db.c4fbaa","name":"","url":"/api/startSurvey","method":"post","upload":false,"swaggerDoc":"","x":220,"y":320,"wires":[["e088a01a.e9945","d85b8cfc.aec69"]]},{"id":"e088a01a.e9945","type":"function","z":"1e3765db.c4fbaa","name":"parseSurveyRequest","func":"var request = msg.payload;\nflow.set('CURRENT_PHONES', request.phones);\nmsg.topic = 'select * from survey_template where idsurvey_template=\"' + \n    request.survey_template_id + '\";';\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":320,"wires":[["239fcf67.0ba26"]]},{"id":"51ec1235.db578c","type":"function","z":"1e3765db.c4fbaa","name":"prepareNewSurvey","func":"var survey_template = msg.payload[0];\nmsg.topic = 'insert into survey_registry (idsurvey, survey_create_time) values(' +\n'\"' + survey_template.idsurvey_template + '\",' + \n'now());';\nmsg.topic += 'select * from survey_registry where idsurvey_registry = LAST_INSERT_ID();';\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":460,"wires":[["8a132cb9.0603a"]]},{"id":"1110383a.a6bec8","type":"mqtt out","z":"1e3765db.c4fbaa","name":"","topic":"new_survey","qos":"","retain":"","broker":"5d2028ab.93ca18","x":630,"y":420,"wires":[]},{"id":"3ed85b09.2feee4","type":"function","z":"1e3765db.c4fbaa","name":"parseSurvey","func":"var phones = flow.get('CURRENT_PHONES');\nreturn {\n    payload: {\n        survey: msg.payload[1][0],\n        phones: phones\n    }\n};","outputs":1,"noerr":0,"x":530,"y":480,"wires":[["1110383a.a6bec8"]]},{"id":"1d8bf022.34f45","type":"mqtt in","z":"1e3765db.c4fbaa","name":"on_new_survey","topic":"new_survey","qos":"2","broker":"5d2028ab.93ca18","x":140,"y":560,"wires":[["b5fb580a.100288"]]},{"id":"ba359234.1003e","type":"function","z":"1e3765db.c4fbaa","name":"testStartSurvey","func":"\nreturn {\n    payload: {\n        survey_template_id: '5ab7af0ea6f2382cf44a36c6',\n        phones: ['+972544917411', '+972545956146', '+972546940342']\n    }\n};","outputs":1,"noerr":0,"x":300,"y":380,"wires":[["e088a01a.e9945"]]},{"id":"6de8ed9c.f12604","type":"inject","z":"1e3765db.c4fbaa","name":"run","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":110,"y":380,"wires":[["ba359234.1003e"]]},{"id":"b5fb580a.100288","type":"function","z":"1e3765db.c4fbaa","name":"connectCitizens","func":"var payload = JSON.parse(msg.payload);\nvar phones= payload.phones;\nvar survey = payload.survey;\nvar sql = 'update survey_registry set survey_started=1 where idsurvey_registry=' + survey.idsurvey_registry +';';\n\nfor (var phoneIndex = 0; phoneIndex < phones.length; phoneIndex++) {\n    var phone = phones[phoneIndex];\n    sql += 'insert into survey_citizen_roll (survey_registry, citizen) values(' +\n    survey.idsurvey_registry + ', (select idcitizen from citizen where phone = \"' + \n    phones[phoneIndex] + '\"));';\n}\nsql += 'select citizen.phone from survey_citizen_roll join citizen on survey_citizen_roll.citizen = citizen.idcitizen where survey_registry = ' + survey.idsurvey_registry + ';';\nsql += 'select survey_registry.*, survey_template.* from survey_registry join survey_template on ' +\n'survey_template.idsurvey_template = survey_registry.idsurvey where survey_registry.idsurvey_registry = ' + survey.idsurvey_registry + ';';\nreturn {\n    payload: {\n        survey: survey,\n        phones: phones\n    },\n    topic: sql\n};","outputs":1,"noerr":0,"x":340,"y":560,"wires":[["67a9740d.197fdc"]]},{"id":"fe6c795.53ce788","type":"function","z":"1e3765db.c4fbaa","name":"prepareToSend","func":"var results = msg.payload;\nvar phonesCollection = results[results.length - 2];\nvar phones = [];\nfor(var i = 0; i < phonesCollection.length; i ++) {\n    phones.push(phonesCollection[i].phone);\n}\nvar survey = results[results.length - 1][0];\nreturn {\n    payload: {\n        phones: phones.join(','),\n        survey: survey\n    }\n    \n};","outputs":1,"noerr":0,"x":430,"y":660,"wires":[["abc3265.b7eadd8"]]},{"id":"7075b546.d1ea4c","type":"mqtt in","z":"1e3765db.c4fbaa","name":"","topic":"SEND_SMS","qos":"2","broker":"5d2028ab.93ca18","x":130,"y":720,"wires":[["9ffbc203.bf6d"]]},{"id":"abc3265.b7eadd8","type":"mqtt out","z":"1e3765db.c4fbaa","name":"","topic":"SEND_SMS","qos":"","retain":"","broker":"5d2028ab.93ca18","x":620,"y":640,"wires":[]},{"id":"9ffbc203.bf6d","type":"function","z":"1e3765db.c4fbaa","name":"initSending","func":"var surveyObj = JSON.parse(msg.payload);\nmsg.payload = surveyObj.survey.title;\nmsg.topic = surveyObj.phones;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":720,"wires":[["6b3593c4.43a60c"]]},{"id":"6b3593c4.43a60c","type":"sms","z":"1e3765db.c4fbaa","name":"sms","message":"jprjdev@gmail.com","numbers":"","throttle":1000,"twilio":"4db41652.618b48","x":530,"y":720,"wires":[["a0a5ad9e.02b19"]]},{"id":"a0a5ad9e.02b19","type":"debug","z":"1e3765db.c4fbaa","name":"SMS Console","active":true,"console":false,"complete":"true","x":700,"y":720,"wires":[]},{"id":"bd94aceb.355b4","type":"mysql","z":"1e3765db.c4fbaa","mydb":"6489251f.38312c","name":"SurveyDB","x":663.5,"y":1567,"wires":[["27c5cfa0.b04cf"]]},{"id":"66c8228d.29001c","type":"mysql","z":"1e3765db.c4fbaa","mydb":"6489251f.38312c","name":"SurveyDB","x":564,"y":1711,"wires":[["e0058518.7db808"]]},{"id":"215b2d13.7ab7d2","type":"mysql","z":"1e3765db.c4fbaa","mydb":"6489251f.38312c","name":"SurveyDB","x":492,"y":1870,"wires":[[]]},{"id":"21702bc1.ad3d14","type":"mysql","z":"1e3765db.c4fbaa","mydb":"6489251f.38312c","name":"","x":597,"y":1902,"wires":[["92a6a249.b4af6"]]},{"id":"ffba9dfb.0ad99","type":"mysql","z":"1e3765db.c4fbaa","mydb":"6489251f.38312c","name":"SurveyDB","x":640,"y":140,"wires":[["3bf5e51a.529caa"]]},{"id":"239fcf67.0ba26","type":"mysql","z":"1e3765db.c4fbaa","mydb":"6489251f.38312c","name":"SurveyDB","x":660,"y":320,"wires":[["51ec1235.db578c"]]},{"id":"8a132cb9.0603a","type":"mysql","z":"1e3765db.c4fbaa","mydb":"6489251f.38312c","name":"SurveyDB","x":380,"y":440,"wires":[["3ed85b09.2feee4"]]},{"id":"67a9740d.197fdc","type":"mysql","z":"1e3765db.c4fbaa","mydb":"6489251f.38312c","name":"SurveyDB","x":540,"y":560,"wires":[["fe6c795.53ce788"]]},{"id":"54587ead.4e8dd","type":"objectid","z":"1e3765db.c4fbaa","name":"","selectedProperty":"_id","x":310,"y":1480,"wires":[["3f07dbfb.ce3ba4"]]},{"id":"1ee10e54.d6bdc2","type":"http in","z":"1e3765db.c4fbaa","name":"","url":"/api/sms","method":"post","upload":false,"swaggerDoc":"","x":100,"y":860,"wires":[["41ffc664.218ba8","e1d16eae.051f9"]]},{"id":"86ce4371.682cc","type":"function","z":"1e3765db.c4fbaa","name":"checkCitizen","func":"var message = JSON.parse(msg.payload);\nvar resp;\nif (isNaN(message.Body)) {\n    resp = '\"' + message.Body + '\"';\n} else {\n    resp = message.Body;\n}\nvar sql = 'select *,' + resp + ' as resp,' + message.To + ' as toPhone from citizen join survey_citizen_roll on citizen.idcitizen=survey_citizen_roll.citizen join ' +\n'survey_registry on survey_citizen_roll.survey_registry = survey_registry.idsurvey_registry join ' + \n'survey_template on survey_registry.idsurvey=survey_template.idsurvey_template '+ \n'where citizen.phone=\"' + message.From + '\" order by survey_registry.survey_create_time desc;';\nmsg.topic=sql;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":920,"wires":[["889cf639.f8a798"]]},{"id":"889cf639.f8a798","type":"mysql","z":"1e3765db.c4fbaa","mydb":"6489251f.38312c","name":"SurveyDB","x":420,"y":920,"wires":[["c87f558c.35b9a8"]]},{"id":"c87f558c.35b9a8","type":"switch","z":"1e3765db.c4fbaa","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":410,"y":980,"wires":[["542de8c2.54fee8"],["ca605e3c.f0a49"]]},{"id":"4d8b1b20.5238f4","type":"function","z":"1e3765db.c4fbaa","name":"saveResponse","func":"var obj = JSON.parse(msg.payload);\nmsg.topic = 'insert into survey_response_event (fromPhone, toPhone, survey_event_time,value,survey_registry) values (\"' +\nobj.phone + '\",\"' +\nobj.toPhone + '\",' +\n'now(),\"' +\nobj.resp + '\",' +\nobj.survey_registry + ');';\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":1120,"wires":[["d932f09d.aac3d"]]},{"id":"d932f09d.aac3d","type":"mysql","z":"1e3765db.c4fbaa","mydb":"6489251f.38312c","name":"SurveyDB","x":540,"y":1120,"wires":[[]]},{"id":"41ffc664.218ba8","type":"mqtt out","z":"1e3765db.c4fbaa","name":"","topic":"SMS_RESP","qos":"","retain":"","broker":"5d2028ab.93ca18","x":310,"y":860,"wires":[]},{"id":"866f28b6.bf47e8","type":"mqtt in","z":"1e3765db.c4fbaa","name":"","topic":"SMS_RESP","qos":"2","broker":"5d2028ab.93ca18","x":90,"y":920,"wires":[["86ce4371.682cc"]]},{"id":"e1d16eae.051f9","type":"http response","z":"1e3765db.c4fbaa","name":"","statusCode":"200","headers":{},"x":300,"y":820,"wires":[]},{"id":"d85b8cfc.aec69","type":"http response","z":"1e3765db.c4fbaa","name":"","statusCode":"","headers":{},"x":430,"y":280,"wires":[]},{"id":"542de8c2.54fee8","type":"function","z":"1e3765db.c4fbaa","name":"retrieveSurveyLogic","func":"var surveyObj = msg.payload[0];\nif(surveyObj.content) {\n    surveyObj.content = JSON.parse(surveyObj.content);\n}\nflow.set('SURVEY_OBJ', surveyObj);\nmsg.topic = 'select * from survey_response_event where survey_registry =' + surveyObj.survey_registry + \n' and fromPhone=\"' + surveyObj.phone + '\" order by survey_event_time;';\n// msg.topic = 'select c.*,scr.survey_registry from survey_response_event c join survey_citizen_roll scr on c.idcitizen=scr.citizen where c.phone=\"' + surveyObj.phone + '\"';\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":920,"wires":[["2b634324.0c0bfc"]]},{"id":"1b42f64d.52de5a","type":"mqtt out","z":"1e3765db.c4fbaa","name":"","topic":"SMS_RESP_SAVE","qos":"","retain":"","broker":"5d2028ab.93ca18","x":1050,"y":980,"wires":[]},{"id":"d9f24653.8371f8","type":"mqtt in","z":"1e3765db.c4fbaa","name":"","topic":"SMS_RESP_SAVE","qos":"2","broker":"5d2028ab.93ca18","x":130,"y":1120,"wires":[["4d8b1b20.5238f4"]]},{"id":"2b634324.0c0bfc","type":"mysql","z":"1e3765db.c4fbaa","mydb":"6489251f.38312c","name":"SurveyDB","x":620,"y":980,"wires":[["599aba3a.dac844"]]},{"id":"599aba3a.dac844","type":"function","z":"1e3765db.c4fbaa","name":"doSurveyLogic","func":"var prevSurveyEvents = msg.payload;\nvar surveyObj = flow.get('SURVEY_OBJ');\n\nvar questions = [];\nquestions.push({\n    title: surveyObj.title,\n    conditions: JSON.parse(surveyObj.conditions),\n    response_type: surveyObj.response_type\n});\nvar additionalQuestions = surveyObj.content;\nif (Array.isArray(additionalQuestions)) {\n    questions = questions.concat(additionalQuestions);\n}\nvar surveyStep = (Array.isArray(prevSurveyEvents))?prevSurveyEvents.length:0;\nif (surveyStep >= questions.length) {\n    return [null, null, null];\n}\nvar questionWasAnswered = questions[surveyStep];\nvar responseType = questionWasAnswered.response_type;\nvar types = flow.get('SURVEY_RESPONSE_TYPE');\nvar nextQuestion = (questions.length > surveyStep)?questions[surveyStep + 1]:null;\nswitch (responseType.type) {\n    case 1:\n        if (surveyObj.FINISH_INFORMED === 0 && (isNaN(surveyObj.resp) || surveyObj.resp > responseType.max || surveyObj.resp < responseType.min)) {\n            var errorMessage = types.find(function (t) {\n                return t.response_type_id === 1;\n            }).response_error_message.replace('#MIN_VAL#', responseType.min).replace('#MAX_VAL#', responseType.max);\n            return [\n                {\n                    payload: {\n                        survey: {\n                            title: errorMessage\n                        },\n                        phones: surveyObj.phone\n                    }\n                }, \n                null, \n                null\n                ];\n        }\n        break;\n    default:\n    break;\n}\nif (nextQuestion) {\n    return [{\n        payload: {\n            survey: {\n                title: nextQuestion.title\n            },\n            phones: surveyObj.phone\n        } \n    }, {payload: surveyObj}, null];\n} else {\n    if (surveyObj.FINISH_INFORMED === 0) {\n        var updateSurveyFinishSQL = 'update survey_citizen_roll set FINISH_INFORMED=1 where survey_registry =' +\n        surveyObj.survey_registry + ' and citizen=' + surveyObj.idcitizen + ';';\n        return [\n            {\n                payload: {\n                    survey: {\n                        title: surveyObj.finish_message\n                    },\n                    phones: surveyObj.phone\n                }\n            }, \n            null, \n            {payload: 'Survey step exceeds the survey steps count', topic: updateSurveyFinishSQL}];\n    } else {\n        return [null, null, null];\n    }\n}\n","outputs":3,"noerr":0,"x":800,"y":980,"wires":[["2e72f006.32ace"],["1b42f64d.52de5a"],["e3c4161e.5d2db8"]]},{"id":"2e72f006.32ace","type":"mqtt out","z":"1e3765db.c4fbaa","name":"","topic":"SEND_SMS","qos":"","retain":"","broker":"5d2028ab.93ca18","x":1030,"y":920,"wires":[]},{"id":"e3c4161e.5d2db8","type":"mysql","z":"1e3765db.c4fbaa","mydb":"6489251f.38312c","name":"SurveyDB","x":940,"y":1060,"wires":[[]]},{"id":"d014a455.bc9378","type":"inject","z":"1e3765db.c4fbaa","name":"Init","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"x":70,"y":260,"wires":[["b0494182.9e17b"]]},{"id":"b0494182.9e17b","type":"function","z":"1e3765db.c4fbaa","name":"getSurveyResponseType","func":"\nreturn {topic: 'select * from response_type;'};","outputs":1,"noerr":0,"x":270,"y":240,"wires":[["aae4116e.110d2"]]},{"id":"aae4116e.110d2","type":"mysql","z":"1e3765db.c4fbaa","mydb":"6489251f.38312c","name":"SurveyDB","x":530,"y":240,"wires":[["9a21054b.378198"]]},{"id":"9a21054b.378198","type":"function","z":"1e3765db.c4fbaa","name":"setSurveyResponseType","func":"flow.set('SURVEY_RESPONSE_TYPE', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":240,"wires":[[]]},{"id":"ca605e3c.f0a49","type":"debug","z":"1e3765db.c4fbaa","name":"Console SMS Error","active":true,"console":false,"complete":"payload","x":390,"y":1040,"wires":[]},{"id":"ee9e0dd8.7f58a","type":"http in","z":"cc24ceb9.c41a","name":"","url":"/api/v1/auth/login","method":"post","upload":false,"swaggerDoc":"","x":119,"y":79,"wires":[["a26a1f51.0151a"]]},{"id":"3a403a48.49bfb6","type":"debug","z":"cc24ceb9.c41a","name":"","active":true,"console":"false","complete":"true","x":450,"y":89,"wires":[]},{"id":"a26a1f51.0151a","type":"function","z":"cc24ceb9.c41a","name":"Do Login","func":"var params = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":311,"y":79,"wires":[["3a403a48.49bfb6","481edd28.2679c4"]]},{"id":"481edd28.2679c4","type":"http response","z":"cc24ceb9.c41a","name":"","statusCode":"","headers":{},"x":451,"y":38,"wires":[]},{"id":"1e32b9ec.00f6c6","type":"http in","z":"cc24ceb9.c41a","name":"","url":"/api/v1/auth/register-1","method":"post","upload":false,"swaggerDoc":"","x":139,"y":144,"wires":[["5760a8e3.976648"]]},{"id":"59401731.00b748","type":"comment","z":"cc24ceb9.c41a","name":"Rest API","info":"","x":81,"y":28,"wires":[]},{"id":"5760a8e3.976648","type":"function","z":"cc24ceb9.c41a","name":"Validate Register-1","func":"let params = msg.payload;\nlet {user_phone} = msg.payload;\n// const MAIL_REG_EXPR = /^(([^<>()\\[\\]\\\\.,;:\\s@\"]+(\\.[^<>()\\[\\]\\\\.,;:\\s@\"]+)*)|(\".+\"))@((\\[[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}\\])|(([a-zA-Z\\-0-9]+\\.)+[a-zA-Z]{2,}))$/;\nif (!user_phone || user_phone.length < 7) {\n    return [\n        null,\n        msg\n    ]\n} else {\n    return [\n        msg,\n        null\n    ]\n}","outputs":"2","noerr":0,"x":380,"y":144,"wires":[["f81970f9.846e8","817a46b8.62bea8"],["739e2d62.605e24"]],"outputLabels":["Success","Fail"]},{"id":"739e2d62.605e24","type":"http response","z":"cc24ceb9.c41a","name":"error-register-1","statusCode":"","headers":{"content-type":"application/json"},"x":599,"y":191,"wires":[]},{"id":"f81970f9.846e8","type":"mqtt out","z":"cc24ceb9.c41a","name":"","topic":"register","qos":"","retain":"","broker":"5d2028ab.93ca18","x":703,"y":140,"wires":[]},{"id":"c7947798.7ea6f8","type":"mqtt in","z":"cc24ceb9.c41a","name":"","topic":"register","qos":"2","broker":"5d2028ab.93ca18","x":74,"y":511,"wires":[["ad1ac29.9fed74"]]},{"id":"ad1ac29.9fed74","type":"function","z":"cc24ceb9.c41a","name":"Parse Params","func":"let params = JSON.parse(msg.payload);\nconst {user_phone, lang} = params;\nmsg.topic = 'insert into user (mobile_phone, sms_registration_code) values (\"' +\nuser_phone + '\", FLOOR(rand()*10000));';\nflow.set('REGISTER-1-PARAMS', params);\nreturn msg;","outputs":1,"noerr":0,"x":233,"y":512,"wires":[["a491e275.410ff"]]},{"id":"817a46b8.62bea8","type":"http response","z":"cc24ceb9.c41a","name":"Valid","statusCode":"","headers":{},"x":573,"y":151,"wires":[]},{"id":"a491e275.410ff","type":"mysql","z":"cc24ceb9.c41a","mydb":"a786c7c0.cf9bc8","name":"","x":448,"y":498,"wires":[["76d9dbf7.0cba54"]]},{"id":"5d0bf20b.df440c","type":"sms","z":"cc24ceb9.c41a","name":"sms","message":"","numbers":"","throttle":1000,"twilio":"4db41652.618b48","x":435,"y":774,"wires":[["a04ae268.82501"]]},{"id":"76d9dbf7.0cba54","type":"switch","z":"cc24ceb9.c41a","name":"","property":"error","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","outputs":2,"x":437,"y":562,"wires":[["c09ca347.1cdcb"],["ac416bea.fc4af8"]]},{"id":"c09ca347.1cdcb","type":"debug","z":"cc24ceb9.c41a","name":"Error","active":true,"console":"false","complete":"true","x":653,"y":500,"wires":[]},{"id":"ac416bea.fc4af8","type":"function","z":"cc24ceb9.c41a","name":"GET SMS CONFIG","func":"let registerParams = flow.get('REGISTER-1-PARAMS');\nlet {lang, user_phone} = registerParams;\nmsg.topic = 'select ' + lang + \n' as title from dictionary where wordkey=\"register-1-sms-title\";';\nmsg.topic += 'select sms_registration_code as code, mobile_phone as phone from user where mobile_phone=\"' + user_phone + '\";';\nflow.set('REGISTER-1-PARAMS', null);\nreturn msg;","outputs":1,"noerr":0,"x":476,"y":612,"wires":[["55a70c13.d1f734"]]},{"id":"a04ae268.82501","type":"debug","z":"cc24ceb9.c41a","name":"","active":true,"console":"false","complete":"true","x":686,"y":761,"wires":[]},{"id":"55a70c13.d1f734","type":"mysql","z":"cc24ceb9.c41a","mydb":"a786c7c0.cf9bc8","name":"","x":452,"y":673,"wires":[["2c459c09.e2b724"]]},{"id":"2c459c09.e2b724","type":"function","z":"cc24ceb9.c41a","name":"Prepare SMS","func":"let results = msg.payload;\nlet smsTitle = results[0][0].title;\nlet smsCode = results[1][0].code;\nlet phone = results[1][0].phone;\nreturn {\n    payload: smsTitle + '\\n' + smsCode,\n    topic: phone\n};","outputs":1,"noerr":0,"x":448,"y":732,"wires":[["5d0bf20b.df440c"]]},{"id":"e5e2b667.ff8768","type":"comment","z":"cc24ceb9.c41a","name":"Queue","info":"","x":71,"y":457,"wires":[]},{"id":"fd01ea32.530a68","type":"http in","z":"cc24ceb9.c41a","name":"","url":"/api/v1/auth/sms/:smsCode","method":"get","upload":false,"swaggerDoc":"","x":151,"y":214,"wires":[[]]},{"id":"f00e007e.e760e","type":"uibuilder","z":"cc24ceb9.c41a","name":"Universtage","topic":"","url":"/universtage","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"debugFE":false,"copyIndex":false,"x":302,"y":293,"wires":[[],[]]}]